[Desktop Entry]
Encoding=UTF-8
Name=mySAT
Comment=mySAT P2P Cryptocurrency
Comment[fr]=mySAT, monnaie virtuelle cryptographique pair à pair
Comment[tr]=mySAT, eşten eşe kriptografik sanal para birimi
Comment[es]=mySAT, una criptomoneda P2P
Exec=/usr/bin/mysat-qt
Terminal=false
Type=Application
Icon=/usr/share/pixmaps/bitcoin80.xpm
MimeType=x-scheme-handler/mysat;
Categories=Office;
